body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

table {
	width: 100%;

	td {
		vertical-align: middle;
	}
}

.container {
	padding: 0px 1em;
}

.centered {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth-card {
	min-width: 400px;
}

.text-center {
	text-align: center;
}


.active > .bp3-button {
	background: rgba(115, 134, 148, 0.8);
	color: #fff;
}


.container {

}

@for $i from 1 through 12 {
    .col-#{$i} {
		width: #{$i * (100% / 12)};
    }
}

.page-h1 {
	margin: 0.6em 0;
}

.w-0 {
	max-width: 0;
}