---
---

@import "{{ site.theme }}";
@import "print";

body {
  background-color: #fff;
  margin: 0;
  color: #333;
}

.wrapper {
  width: 960px;
}

header {
  width: 200px;
  
  @media print, screen and (max-width: 960px) {
    width: 100%;
    text-align: center;
  }
  
  img {
    padding: 40px;
    box-sizing: border-box;
    
    @media print, screen and (max-width: 960px) {
      max-width: 200px;
    }
  }
}

section {
  @media print, screen and (max-width: 960px) {
    width: 100%;
  }
  width: 600px;
  
  p>code.highlighter-rouge {
    background: #F9F9F9;
    padding: 1px 5px;
    border-radius: 5px;
    border: 1px solid #DDD;
  }
}
