---
---

@import "{{ site.theme }}";
@import "print";

body {
  background-color: #fff;
}

.wrapper {
  width: 960px;
}

header {
  width: 200px;
  
  img {
    padding: 40px;
    box-sizing: border-box;
  }
}

section {
  @media print, screen and (max-width: 960px) {
    width: 100%;
  }
  width: 600px;
}
