---
---

@import "{{ site.theme }}";
@import "print";

body {
  background-color: #fff;
}

header {
  width: 200px;
  
  img {
    padding: 40px;
    box-sizing: border-box;
  }
}

section {
  width: 600px;
}
